.header {
  display: flex;
  flex: 1;
  /* padding: 2rem 0; */
  justify-content: space-between;
  align-items: center;
}

.btn-connect {
  padding: 0.5rem 0.75rem;
  border-color: var(--color-primary-blue);
}
